body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 3rem;
    /* Larger font size for a bold statement */
    text-transform: uppercase;
    /* Uppercase text for a modern look */
    letter-spacing: 2px;
    /* Increase letter spacing for clarity */
    margin-bottom: 20px;
    /* Add some space below the heading */
    background: linear-gradient(to right, #050505, #2d9de7);
    /* Gradient background */
    -webkit-background-clip: text;
    /* Clip text to the background */
    -webkit-text-fill-color: transparent;
    /* Make text transparent to show gradient */
}

.company-selector {
    margin-bottom: 20px;
}

.company-selector label {
    font-size: 18px;
}

.company-selector select {
    padding: 8px;
    font-size: 16px;
}

.company-selector button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.status-container {
    text-align: center;
}

.status-container img {
    max-width: 100%;
    margin-top: 20px;
}
.status-container h2 {
    margin-top: 50px;
}
/* styles.css */

.container {
    max-width: 80%; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding around the container */
    background-color: #f9f9f9; /* Add background color */
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}
/* News item container */
.news-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    /* Add a border between news items */
    padding-bottom: 20px;
    /* Add some padding below each news item */
}
/* Latest News heading */
.news-container h2 {
    color: #272626;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
/* Headline style */
.news-item h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #424242;
}

/* Source and time style */
.news-details {
    color: #666;
    font-size: 0.9rem;
}

.news-source {
    font-weight: bold;
}

.news-time {
    margin-left: 10px;
}

/* Read more link style */
.news-item a {
    color: #007bff;
    text-decoration: none;
}

.news-item a:hover {
    text-decoration: underline;
}

.sentiment-label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.positive {
    background-color: #4caf50;
    color: white;
}

.negative {
    background-color: #f44336;
    color: white;
}

.neutral {
    background-color: #2196f3;
    color: white;
}

#sentiment-container {
    margin-top: 20px;
    /* Add some space above the sentiment container */
    padding: 20px;
    /* Add padding to the sentiment container */
    background-color: #fff;
    /* Add background color to the sentiment container */
    border-radius: 8px;
    /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add box shadow for depth */
}

#sentiment-chart-container {
    margin-bottom: 20px;
    /* Add some space below the sentiment chart */
}

#sentiment-text {
    text-align: center;
    /* Center the sentiment text */
}

.sentiment-container h2 {
    margin-bottom: 20px;
}
#stock-chart {
    width: 50%;
    height: 50%;
}

.stock-chart-container {
    max-width: 100px;
    margin: 0 auto;
}
